@page "/loai-hang/danh-sach"
@model HDT_22810201.Pages.LH_DanhSachModel
@functions
{
	public string MuiTen(string inp)
	{
		switch (inp.ToLower())
		{
			case "tang":
				return "^";
			case "giam":
				return "v";
			default:
				return "-";
		}
	}
}

@if (string.IsNullOrEmpty(HttpContext.Session.GetString("username"))) Response.Redirect("/tai-khoan/dang-nhap");
else
{
	<title>Cửa hàng M: Loại hàng - Danh sách</title>
	<h1 style="font-size:24px; text-align: center;">Danh sách loại hàng</h1>
	<div class="dieuhuong" style="color: red;">@Model.BaoLoi</div>
	<br>
	<form id="zform" method="post">
		<input asp-for="TongTrang" value="@Model.TongTrang" readonly="" hidden="">
		<input class="ds-sx" id="ds-0" asp-for="SapXep_LH[0]" value="@Model.SapXep_LH[0]" readonly="" hidden="">
		<input class="ds-sx" id="ds-1" asp-for="SapXep_LH[1]" value="@Model.SapXep_LH[1]" readonly="" hidden="">
		<input class="ds-sx" id="ds-2" asp-for="SapXep_LH[2]" value="@Model.SapXep_LH[2]" readonly="" hidden="">
		<table class="danhsach">
			<tr>
				<th onclick="sapXep(0, 3)" style="cursor: pointer; ">
					<button class="hidden-btn" style="font-weight: bold;">
						Loại
						<span style="margin-left: 7px;">@MuiTen(Model.SapXep_LH[0])</span>
					</button>
				</th>
				<th onclick="sapXep(1, 3)" style="cursor: pointer;">
					<button class="hidden-btn" style="font-weight: bold;">
						Tổng sản phẩm
						<span style="margin-left: 7px;">@MuiTen(Model.SapXep_LH[1])</span>
					</button>
				</th>
				<th onclick="sapXep(2, 3)" style="cursor: pointer;">
					<button class="hidden-btn" style="font-weight: bold;">
						Tổng tiền (đồng)
						<span style="margin-left: 7px;">@MuiTen(Model.SapXep_LH[2])</span>
					</button>
				</th>
				<th>Chức năng</th>
			</tr>
			@if (!Model.DanhSach.Any())
			{
				<tr>
					<td colspan="9" class="dstrong" style="text-align: center;">
						Danh sách hiện đang trống.<br>
						Vui lòng thay đổi cách tìm kiếm, hoặc thêm sản phẩm mới.<br>
						Bấm vào đầu mục bất kì để quay lại.
					</td>
				</tr>
			}
			else
			{
				<div class="trang">
					<label>
						Tìm
						<input asp-for="Tim"
							   value="@Model.Tim"
							   id="resetme"
							   type="text"
							   style="width: 150px;"
							   maxlength="20">
						<input type="submit" value="Tìm">
					</label>
					<br> <br>
					<label>
						Loại hàng mỗi trang (Tổng: @Model.DanhSach.Count)<br>
						<input asp-for="LHMoiTrang"
							   value="@Model.LHMoiTrang"
							   type="text"
							   maxlength="9"
							   pattern="^\d*$"
							   style="width: 80px;"
							   required=""
							   oninvalid="this.setCustomValidity('Vui lòng nhập số từ 0-9.')"
							   oninput="this.setCustomValidity('')">
						<input type="submit" value="Xác nhận">
					</label>
					<br> <br>
					@if (Model.TrangInt != 1)
					{
						<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="1"> &lt;&lt; </a>
						<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@(Model.TrangInt - 1)"> &lt; </a>
					}
					else
					{
						<a class="sangtrang hientai"> &lt;&lt; </a>
						<a class="sangtrang hientai"> &lt; </a>
					}
					<span>&#160;&#160;&#160;</span>

					@if (Model.TongTrang <= 7)
					{
						for (int i = 1; i <= Model.TongTrang; i++)
						{
							if (Model.TrangInt == i)
							{
								<a class="sangtrang hientai"> @i </a>
							}
							else
							{
								<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@i"> @i </a>
							}
						}
					}
					else
					{
						int temp1 = ((Model.TongTrang - Model.TrangInt + 1) <= 3) ? (Model.TrangInt - Model.TongTrang + 3) : 0;
						int temp2 = (Model.TrangInt <= 3) ? (3 - Model.TrangInt + 1) : 0;

						if (Model.TrangInt <= 3)
						{
							for (int i = 1; i <= (Model.TrangInt - 1); i++)
							{
								<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@i"> @i </a>
							}
						}
						else
						{
							for (int i = (Model.TrangInt - 3 - temp1); i <= (Model.TrangInt - 1); i++)
							{
								<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@i"> @i </a>
							}
						}
						<a class="sangtrang hientai"> @Model.TrangInt </a>
						if (Model.TrangInt >= (Model.TongTrang - 2))
						{
							for (int i = (Model.TrangInt + 1); i <= Model.TongTrang; i++)
							{
								<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@i"> @i </a>
							}
						}
						else
						{
							for (int i = (Model.TrangInt + 1); i <= (Model.TrangInt + 3 + temp2); i++)
							{
								<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@i"> @i </a>
							}
						}
					}

					<span>&#160;&#160;&#160;</span>
					@if (Model.TrangInt != Model.TongTrang)
					{
						<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@(Model.TrangInt + 1)"> &gt; </a>
						<a class="sangtrang diden" asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@(Model.TongTrang)"> &gt;&gt; </a>
					}
					else
					{
						<a class="sangtrang hientai"> &gt; </a>
						<a class="sangtrang hientai"> &gt;&gt; </a>
					}
					<label>
						&#160; Nhập trang:
						<input asp-for="Trang"
							   value="@Model.Trang"
							   type="text"
							   maxlength="9"
							   pattern="^\d*$"
							   style="width: 50px;"
							   oninvalid="this.setCustomValidity('Vui lòng nhập số từ 0-9.')"
							   oninput="this.setCustomValidity('')">
						<input type="submit" value="Đi đến">
						(Tổng: @Model.TongTrang)
					</label>
					<br><br>
				</div>
				@for (int i = (Model.TrangInt * Model.LHMoiTrang - Model.LHMoiTrang);
						i <= ((Model.TrangInt != Model.TongTrang) ?
						(Model.TrangInt * Model.LHMoiTrang - 1) :
						(Model.TrangInt * Model.LHMoiTrang - 1 - (Model.TongTrang * Model.LHMoiTrang - Model.DanhSach.Count)));
						i++)
				{
					var lh = Model.DanhSach[i];
					<tr>

						<td>@lh.Loai</td>
						<td class="so">@lh.TongSP</td>
						<td class="so">@lh.TongTien</td>
						<td>
							<a class="btn sua-btn" asp-page="/LoaiHang/LH_Sua" asp-route-trang="@Model.Trang" asp-route-loai="@lh.Loai">Sửa</a>
							<a class="btn xoa-btn" asp-page="/LoaiHang/LH_Xoa" asp-route-trang="@Model.Trang" asp-route-loai="@lh.Loai">Xóa</a>
						</td>
					</tr>
				}
			}
		</table>
	</form>
	<button onclick="topFunction()" id="lendautrang">^</button>

	<script>
		// W3Schools
		// Get the button
		let mybutton = document.getElementById("lendautrang");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function () { scrollFunction() };

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
}