@page "/loai-hang/sua"
@model HDT_22810201.Pages.LH_SuaModel

@if (string.IsNullOrEmpty(HttpContext.Session.GetString("username"))) Response.Redirect("/tai-khoan/dang-nhap");
else
{
	<title>Cửa hàng M: Loại hàng - Sửa</title>
	<div class="dv sua-div">
		<form method="post">
			<h1 style="font-size:24px;">Sửa loại hàng</h1>
			@if (!string.IsNullOrEmpty(Model.Loai))
			{
				<input asp-for="Loai" value="@Model.Loai" readonly="" hidden="">
				<h2 style="font-size:16px;">Tất cả sản phẩm thuộc loại hàng sẽ đổi tên!</h2>
				<label>
					Loại<br>
					<input asp-for="LoaiHang.Loai" value="@Model.LoaiHang.Loai" required="">
				</label> <br>
				<label>
					Tổng sản phẩm<br>
					<input value="@Model.LoaiHang.TongSP" readonly="">
				</label> <br>
				<label>
					Tổng tiền<br>
					<input value="@Model.LoaiHang.TongTien" readonly="">
					đồng
				</label> <br> <br>
				<input type="submit" value="Sửa">
			}
			else
			{
				<h4 style="font-size:16px;">Loại hàng không tồn tại.</h4>
			}
			<a asp-page="/LoaiHang/LH_DanhSach" asp-route-trang="@Model.Trang">Quay lại</a>
			<div style="color: red;">@Model.BaoLoi</div>
		</form>
	</div>

}